<module name="test" xmlns="http://wso2.org/projects/jaggery/module.xml">
    <script>
        <name>test</name>
        <path>scripts/engine/jasmine.js</path>
    </script>
	<script>
        <name>jasmine-wrapper</name>
        <path>scripts/engine/wrapper.js</path>
    </script>
    <script>
        <name>jsonReport</name>
        <path>scripts/report/jsonReporter.js</path>
    </script>		
</module>
