<module name="test" xmlns="http://wso2.org/projects/jaggery/module.xml">
    <script>
        <name>test</name>
        <path>scripts/engine/jasmine.js</path>
    </script>
	<script>
        <name>cola</name>
        <path>scripts/engine/cola.js</path>
    </script>
    <script>
        <name>jsonReport</name>
        <path>scripts/report/jsonReporter.js</path>
    </script>		
    <script>
        <name>htmlReport</name>
        <path>scripts/report/htmlReporter.js</path>
    </script>
</module>
